.text ul {
    display: flex;
    gap: 5rem;
    margin-left: 2.8rem;
}

.text ul li {
    position: relative;
}

.text ul li a {
    color: var(--color-primary) !important;
}

.text ul li::before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #00000020;
    border-radius: 1000px;
    position: absolute;
    top: 0;
    left: -40px;
}

h4 {
    text-align: center;
}

footer .w {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

footer ul li a {
    text-decoration: none;
    color: aliceblue;
}

footer p {
    text-align: center;
    opacity: .5;
}
