.event {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-lineheight);
}

.event__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background: var(--color-ternary);
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.event__icon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.event__title {
  font-size: var(--text-md-size);
  line-height: var(--text-md-lineheight);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

.event__updated {
  display: block;
  margin-bottom: 0.8rem;
}

.event__descr {
  margin-bottom: 1rem;
}

@media screen and (max-width: 525px) {
  .event {
    padding: 1rem;
  }

  .event__icon {
    width: 4rem;
    height: 4rem;
  }

  .event__title {
    margin-bottom: 0.4rem;
  }

  .event__updated {
    margin-bottom: 0.4rem;
  }
}
