html {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--color-black);
}

li {
  list-style-type: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.wrapper--wide-col {
  width: 100%;
  max-width: var(--width-wide-col);
}

.btn {
  border: 0;
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  background: var(--color-primary);
  border-radius: 5px;
  font-weight: 400;
  font-size: var(--text-sm-size);
  flex-shrink: 0;
}

.btn.white {
  background: #fff;
  line-height: 2.5;
  border: 1px solid #dcbdff;
  color: var(--color-primary);
}

.btn--join {
  border: none;
  font-family: inherit;
}

.right {
  float: right;
}

.banner-link {
  text-decoration: none;
}

.section {
  padding: 2.5rem 0;
}

.gray-bg {
  background: var(--color-secondary);
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.relative {
  position: relative;
}

.grid-two-cols {
  display: grid;
  grid-template-columns: 350px auto;
  gap: 100px;
}

// breadcrumbs

.breadcrumbs {
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-lineheight);
  color: var(--color-ternary);
  padding: 1rem 0;
}

.breadcrumbs__root {
  text-transform: uppercase;
  color: #000;
}
