:root {
  --color-black: #343434;
  --color-text-gray: #6f6f6f;
  --color-primary: #4a72ff;
  --color-dark-purple: #8f00ff;
  --color-secondary: #f4f4f4;
  --color-ternary: #9f9f9f;
  --text-xs-size: 0.75rem;
  --text-sm-size: 0.8125rem;
  --text-sm-lineheight: 1.15;
  --text-md-size: 0.875rem;
  --text-md-lineheight: 1.5;
  --text-lg-size: 1.375rem;
  --text-xl-size: 1.5rem;
  --width-wide-col: 850px;
}
